body , html{
    height: 100%;
}
body{
    font-family: 'Lato', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
}
.menu-bar {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 999;
}
.bar a{
    text-decoration: none;    
    text-align: center;
    margin:0 5px;
    padding: 20px  ;
    color: white;
}
.bar a:hover{
    background-color: grey;
}
.home{
    background-image: url(pizza.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.texthome{
    display:flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: inherit;
}
.text1 h1{
    font-size: 80px;
    color:#111;
    padding: 10px;
    background-color: white;
    font-weight: 700;
    display: inline-block;

}
.text2 span{
    font-size: 20px;
    color:#111;
    background-color: white;
    padding: 10px;
    line-height: 3;

}
.text3 a{
    font-size: 20px;
    color:#111;
    background-color: white;
    padding: 10px;
    text-decoration: none;
    line-height: 5;

}
.text3 a:hover{
    background-color:#111;
    color:white;
}
.menu{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    background-color:whitesmoke ;
}
.menu-list{
    margin: 0 auto;
    width: 50%;
    line-height: 2;
    margin-bottom: 60px;
}
.price{
    background-color: rgb(228, 228, 228);
    border-radius: 5%;
    padding: 5px;
}
.menu h2{
    background-color: #111;
    color: aliceblue;
    text-align: center;
    border-radius: 6px 6px 0 0;
}
.item{
    border:1px rgb(236, 236, 236) solid;
    padding: 10px;
    font-size: 20px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu h1{
    text-align: center;
    padding: 80px 0;
    font-size: 80px ;
}
.label{
    background-color: rgb(0, 155, 0);
    border-radius: 5%;
    padding: 5px;
    color: white;
}
.about{
    padding: 50px 200px;
    color: white;
    background-color: #964d47;
    display: flex;
    align-content: center;

}
.about h1{
    font-size: 80px;
}
.about-cnt{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    line-height: 2;
}
.reservation img{
    width: 100%;
    opacity: 0.8;
}
.reservation{
    background-color: #607d8b;
    color: white;
}
.reservation h1{
    font-size: 80px;
}
.rsv-cnt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
    padding-bottom: 50px;
    text-align: center;
    line-height: 2;
}
.reserve{
    display: flex;
    flex-direction: column;

}
.reserve input {
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border: 0;
    padding-left: 10px;
}
.reserve label{
    text-align: left;    
}
.star{
    color: red;
}
.button{
    background-color: black;
    width: 100px;
    height: 40px;
    border-radius: 6px;
    border: 0;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
.reserve form{
    width: 100%;
}
.footer{
    background-color: #111;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 20px;
    line-height: 2;
}
.icon {
    display: flex;
    justify-content: center;
}
.icon img{
    height: 40px;
    width: 40px;
    margin: 10px;    
}
.signiture{
    text-align: center;
    color: whitesmoke;
    font-size: 15px;
    padding: 10px 0;    
}
.signiture a{
    color: whitesmoke;    
}